<h1>Market</h1>
<h2>Cart: <span id="cart"><%= @cart %></span></h2>
<hr>
<h3>
  <%= link_to 'Delete Cart', cart_remove_path,
                            method: :delete, remote: true %>
</h3>
<hr>
<h2>Products</h2>
<% @products.each do |product| %>
  <%= form_with(url: cart_add_path, method: :post) do %>
    <%= hidden_field_tag(:code, product.code) %>
      <%= button_tag("add #{product.code} (£#{product.price}) " + product.name , class: '') %>
  <% end %>
<% end %>

<h2>To pay: £<span id="price">0</span></h2>